/*!
global > color
------------------------------
*/
:root {
  --color-font-base: #333;
  --color-font-primary: #6e3f08;
  --color-font-primary2: #dfa767;
  --color-font-white: #fff;
  --color-bg-base: #eeedea;
  --color-bg-red: #7b1911;
  --color-bg-dark-blue: #141b24;
  --color-logo: #ccaf6b;
}
