@use "../global" as g;

/*!
utility > utility
------------------------------
*/
.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

.u-hover-underline {
  background-image: linear-gradient(var(--color-font-white), var(--color-font-white));
  background-position: 0 100%;
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
  padding-bottom: 4px;
}

@media (any-hover: hover) {
  .u-hover-underline:hover {
    background-size: 100% 1px;
  }
}
