@use "../global" as g;

/*!
layout > header
------------------------------
*/
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-index-header);
}

.l-header-logo {
  position: absolute;
  top: -103px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: var(--z-index-default);

  @include g.mq() {
    top: -234px;
    width: 391px;
    height: 391px;
  }

  img {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 96px;
    height: 96px;

    @include g.mq() {
      bottom: 14px;
      width: 148px;
      height: 148px;
    }
  }
}

.l-header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-header);
  background-color: rgba(0, 0, 0, 0.9);
}

.l-header-menu-nav {
  max-width: 840px;
  margin-inline: auto;
  padding-inline: 20px;
}

.l-header-menu-logo {
  display: block;
  margin-inline: auto;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 96px;
  height: 96px;
  z-index: var(--z-index-modal);

  @include g.mq() {
    width: 148px;
    height: 148px;
  }
}

.l-header-menu-list {
  margin-top: 228px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include g.mq() {
    margin-top: 244px;
  }
}

.l-header-menu-item {
  a {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align-last: left;
    transition: opacity 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.8;

        .l-header-menu-en,
        .l-header-menu-ja {
          color: var(--color-font-primary2);
        }
      }
    }
  }
}

.l-header-menu-en {
  font-size: 32px;
  letter-spacing: 0.05em;
  color: var(--color-font-white);
  font-family: var(--font-family-en);
  transition: color 0.3s ease;
}

.l-header-menu-ja {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: var(--color-font-white);
  transition: color 0.3s ease;
}

.l-header-menu-close-button,
.l-header-menu-button {
  width: 40px;
  height: 12px;
  position: absolute;
  top: 38px;
  right: 20px;
  z-index: var(--z-index-header);
  display: flex;
  align-items: center;
  justify-content: center;

  @include g.mq() {
    width: 30px;
    top: 40px;
    right: 45px;
  }
}

.l-header-menu-button {
  // ボタンを目立たせるためのスタイル
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: all 0.3s ease;

    @include g.mq() {
      width: 52px;
      height: 52px;
    }
  }

  @media (any-hover: hover) {
    &:hover::before {
      background-color: rgba(0, 0, 0, 0.7);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.l-header-menu-close-button-line,
.l-header-menu-button-line {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-font-white);
  }
}

.l-header-menu-close-button-line {
  transform: translateY(-6px);
  span {
    transform-origin: center;
    &:first-child {
      transform: matrix(0.96, -0.29, 0.29, 0.96, 0, 12);
    }
    &:last-child {
      transform: matrix(0.96, 0.29, -0.29, 0.96, 0, 0);
    }
  }
}

.l-header-menu-bg {
  @include g.mq() {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    z-index: calc(var(--z-index-header) - 1);
  }
}
