@use "../global" as g;

/*!
component > title
------------------------------
*/
.c-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;

  @include g.mq() {
    gap: 20px;
  }
}

.c-title {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
  color: var(--color-font-white);

  @include g.mq() {
    gap: 16px;
  }
}

.c-title-en {
  font-family: var(--font-family-en);
  font-size: 32px;
  letter-spacing: 0.05em;
}

.c-title-ja {
  letter-spacing: 0.1em;
  opacity: 0.59;
}

.c-title-image {
  width: 63px;
  height: 8px;
}

.c-title--brands {
  display: inline-block;
  text-align: center;
  color: var(--color-font-primary);
  width: 100%;

  .c-title-en {
    font-size: 56px;
    line-height: 1.34;
  }

  .c-title-ja {
    font-size: 16px;
    margin-top: 8px;
    opacity: 1;
    color: var(--color-font-base);
    line-height: 2.5;
  }
}
