@use "../../global" as g;

/*!
page > top > top-information
------------------------------
*/
.top-information {
  background-color: var(--color-bg-dark-blue);
  margin-right: 20px;
  position: relative;
  top: -48px;
  left: 0;
  @include g.mq(lg) {
    top: -56px;
    margin-right: 0;
  }
}

.top-information-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 56px;
  padding: 48px 0;
  max-width: 1120px;
  margin-inline: auto;

  @include g.mq(lg) {
    padding: 80px 0;
    grid-template-columns: auto 1fr;
    gap: 70px;
  }
}

.top-information-title {
  @include g.mq(lg) {
    align-self: flex-start;
  }
}

.top-information-button {
  order: 1;
  display: grid;
  place-items: end;

  @include g.mq(lg) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: end;
    place-items: start;
  }

  a {
    @media (any-hover: hover) {
      &:hover{
        .c-button-arrow {
          background-color: var(--color-font-primary2);
        }
        .c-button-arrow::after {
          background-color: var(--color-bg-dark-blue);
        }
      }
    }
  }
}

.top-information-list {
  @include g.mq(lg) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.top-information-item {
  a {
    padding-block: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--color-font-white);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    transition: border-color 0.3s ease-out;

    @include g.mq(lg) {
      display: grid;
      grid-template-columns: 120px 1fr;
      gap: 16px;
      padding: 32px 16px 32px 0;

      @media (any-hover: hover) {
        &:hover {
          border-bottom: 1px solid var(--color-font-primary2);
          .top-information-item-description::after {
            transform: translateX(10px);
          }

          .top-information-item-date {
            color: var(--color-font-primary2);
          }

          .top-information-item-description {
            color: var(--color-font-primary2);
          }
        }
      }
    }

    &:first-child {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

.top-information-item-date {
  font-family: var(--font-family-en);
  font-size: 18px;
  letter-spacing: 0.05em;
  transition: color 0.3s ease;
}

.top-information-item-description {
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  letter-spacing: 0.1em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 16px;

  @include g.mq(lg) {
    max-width: 100%;
  }

  &::after {
    content: "→";
    display: block;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--color-font-primary2);
    transition: transform 0.3s ease;
  }
}
