@use "../../global" as g;

/*!
page > top > top-describe
------------------------------
*/
.top-describe {
}

.top-describe-inner {
  display: grid;
  grid-template-columns: 1fr;

  @include g.mq(lg) {
    grid-template-columns: 1fr 1fr;
    max-width: 1320px;
    margin-inline: auto;
  }
}

.top-describe-image {
  background-image: url("../img/top/pic-describe-sp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 380px;
  position: relative;

  @include g.mq(lg) {
    background-image: url("../img/top/pic-describe.jpg");
    order: 2;
    width: 100%;
    height: 100%;
  }
}

.top-describe-image-text {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;

  @include g.mq(lg) {
    bottom: 104px;
  }

  p {
    max-width: 340px;
    margin-inline: auto;
    color: var(--color-font-white);
    font-family: var(--font-family-en);
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.05em;
    opacity: 0.8;

    &:last-child {
      margin-top: 8px;
    }

    @include g.mq(lg) {
      font-size: 14px;
      line-height: 2.5;
      max-width: 480px;
    }
  }
}

.top-describe-content {
  background-color: var(--color-bg-red);
  padding: 56px 20px;

  @include g.mq(lg) {
    padding: 112px 12.1%;
    order: 1;
  }
}

.top-describe-content-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  max-width: 500px;
  margin-inline: auto;
}

.top-describe-content-title {
  span {
    color: var(--color-font-primary2);
    font-size: clamp(64px, 48.507px + 4.131vw, 108px);
    line-height: 1.1;
    letter-spacing: 0.05em;
    font-family: var(--font-family-en);
    display: block;

    @include g.mq(lg) {
      display: inline-block;
    }

    &:nth-child(2) {
      @include g.mq(lg) {
        padding-left: 0.25em;
      }
    }
  }
}

.top-describe-content-description {
  color: var(--color-font-white);
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0.1em;

  @include g.mq(lg) {
    font-size: 16px;
    line-height: 2.5;
    margin-top: 52px;
  }

  span {
    display: block;

    &:last-child {
      margin-top: 16px;
    }
  }
}

.top-describe-content-description-br {
  display: none;
  @include g.mq(lg) {
    display: block;
  }
}
