@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.kv {
  width: 100%;
  height: 100vh;
  background-image: url("../img/top/bg-kv-sp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-items: center;
  position: relative;

  @include g.mq() {
    background-image: url("../img/top/bg-kv.jpg");
  }
}

.kv-title {
  color: var(--color-font-white);
  span {
    display: block;
    font-size: 80px;
    font-family: var(--font-family-en);
    line-height: 1.1;
    letter-spacing: 0.05em;

    @include g.mq() {
      display: inline;

      &:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }
}

.kv-title-description {
  margin-top: 24px;
  color: var(--color-font-white);
  font-size: 18px;
  letter-spacing: 0.1em;

  @include g.mq() {
    text-align: center;
    font-size: 20px;
  }
}

.scroll-down {
  display: none;

  @include g.mq() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.scroll-down-text {
  font-size: 16px;
  font-family: var(--font-family-en);
  letter-spacing: 0.05em;
  color: var(--color-font-primary2);
}

.scroll-down-line {
  width: 1px;
  height: 50px;
  border: 1px solid var(--color-font-primary2);
}

@keyframes scroll-down-line {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(100% 0 0 0);
  }
}

.scroll-down-line {
  animation: scroll-down-line 2s ease-in-out infinite;
}
