@use "../../global" as g;

/*!
page > top > top-subpages
------------------------------
*/
.top-subpage {
  position: relative;
}

.top-subpage-inner {
  padding-block: 80px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 38px;

  @include g.mq(lg) {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    gap: 48px;
  }
}

.top-subpage-article {
  position: relative;
  a {
    @media (any-hover: hover) {
      &:hover {
        .top-subpage-article-image {
          transform: scale(1.05);
          filter: brightness(0.5);
        }
        .c-button-arrow {
          background-color: var(--color-font-white);
        }
        .c-button-arrow::after {
          background-color: var(--color-bg-dark-blue);
        }
      }
    }
  }
}

.top-subpage-article-inner {
  overflow: hidden;
}

.top-subpage-article-image {
  will-change: transform;
  transition: transform 0.3s ease, filter 0.3s ease;
  img {
    width: 100%;
    aspect-ratio: 340 / 229;
    object-fit: cover;

    @include g.mq() {
      aspect-ratio: 576 / 336;
    }
  }
}

.top-subpage-article-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 292px;
  padding: 40px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include g.mq() {
    max-width: 496px;
    padding: 101px 0;
    height: 100%;
    align-items: center;
  }
}

.top-subpage-article-content-inner {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-subpage-article-description {
  color: var(--color-font-white);
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 500;

  span {
    display: block;
    @include g.mq() {
      display: inline-block;
    }
  }
}

.top-subpage-article-button {
  padding-bottom: 10px;

  @include g.mq() {
    padding-bottom: 0;
  }
}
