@use "../global" as g;

/*!
foundation > base
------------------------------
*/
body {
  line-height: 1.7;
  font-size: 14px;
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  background-color: var(--color-bg-base);
  overflow-x: hidden;

  @include g.mq() {
    font-size: 16px;
  }
}
